In [1]:
import pandas as pd
import numpy as np

In [2]:


namebasics = pd.read_csv('name.basics.tsv.gz',usecols=['primaryProfession', 'nconst', 'primaryName'], sep = '\t')

In [3]:
namebasics

             nconst         primaryName                    primaryProfession
0         nm0000001        Fred Astaire       soundtrack,actor,miscellaneous
1         nm0000002       Lauren Bacall                   actress,soundtrack
2         nm0000003     Brigitte Bardot  actress,soundtrack,music_department
3         nm0000004        John Belushi              actor,soundtrack,writer
4         nm0000005      Ingmar Bergman                writer,director,actor
...             ...                 ...                                  ...
11531344  nm9993714   Romeo del Rosario  animation_department,art_department
11531345  nm9993716       Essias Loberg                                  NaN
11531346  nm9993717  Harikrishnan Rajan                      cinematographer
11531347  nm9993718         Aayush Nair                      cinematographer
11531348  nm9993719          Andre Hill                                  NaN

[11531349 rows x 3 columns]

In [4]:
#namebasics = namebasics.astype({"primaryProfession": str})

namebasics.dtypes

nconst               object
primaryName          object
primaryProfession    object
dtype: object

In [5]:

namebasics["primaryProfession"] = namebasics["primaryProfession"].str.split(",")

In [6]:
namebasics.explode('primaryProfession')

             nconst         primaryName primaryProfession
0         nm0000001        Fred Astaire        soundtrack
0         nm0000001        Fred Astaire             actor
0         nm0000001        Fred Astaire     miscellaneous
1         nm0000002       Lauren Bacall           actress
1         nm0000002       Lauren Bacall        soundtrack
...             ...                 ...               ...
11531344  nm9993714   Romeo del Rosario    art_department
11531345  nm9993716       Essias Loberg               NaN
11531346  nm9993717  Harikrishnan Rajan   cinematographer
11531347  nm9993718         Aayush Nair   cinematographer
11531348  nm9993719          Andre Hill               NaN

[14981996 rows x 3 columns]

In [7]:


titleprincipals = pd.read_csv('title.principals.tsv.gz',usecols=['category', 'nconst', 'tconst'], sep = '\t')

In [8]:
titleprincipals

             tconst      nconst         category
0         tt0000001   nm1588970             self
1         tt0000001   nm0005690         director
2         tt0000001   nm0374658  cinematographer
3         tt0000002   nm0721526         director
4         tt0000002   nm1335271         composer
...             ...         ...              ...
49736919  tt9916880  nm10535738          actress
49736920  tt9916880   nm0996406         director
49736921  tt9916880   nm1482639           writer
49736922  tt9916880   nm2586970           writer
49736923  tt9916880   nm1594058         producer

[49736924 rows x 3 columns]

In [43]:


titlesbasics = pd.read_csv('title.basics.tsv.gz',usecols=['primaryTitle', 'genres', 'tconst', 'titleType'], sep = '\t')

In [44]:
titlesbasics.value_counts('titleType')

titleType
tvEpisode       6616225
short            863404
movie            606395
video            258969
tvSeries         223071
tvMovie          135614
tvMiniSeries      42849
tvSpecial         36476
videoGame         30824
tvShort           10512
tvPilot               2
dtype: int64

In [47]:
titlesMOVIESshortsvids = titlesbasics[titlesbasics["titleType"].isin(['short','movie', 'video', 'tvMovie'])]

In [49]:
titlesMOVIESshortsvids.value_counts('titleType')

titleType
short      863404
movie      606395
video      258969
tvMovie    135614
dtype: int64

In [51]:
titlesMOVIESshortsvids

            tconst titleType                    primaryTitle       genres
0        tt0000001     short                      Carmencita  Documentary
0        tt0000001     short                      Carmencita        Short
1        tt0000002     short          Le clown et ses chiens    Animation
1        tt0000002     short          Le clown et ses chiens        Short
2        tt0000003     short                  Pauvre Pierrot    Animation
...            ...       ...                             ...          ...
8824281  tt9916730     movie                          6 Gunn           \N
8824291  tt9916754     movie  Chico Albuquerque - Revelações  Documentary
8824292  tt9916756     short        Pretty Pretty Black Girl        Short
8824296  tt9916764     short                              38        Short
8824339  tt9916856     short                        The Wind        Short

[3227081 rows x 4 columns]

In [56]:
titleRatings = pd.read_csv('title.ratings.tsv.gz', sep = '\t')
titleRatingsSrtd = titleRatings.sort_values( by=['numVotes', 'averageRating'], ascending= False )
titleRatingsSrtd

            tconst  averageRating  numVotes
82505    tt0111161            9.3   2569002
251029   tt0468569            9.1   2534021
629117   tt1375666            8.8   2254701
99118    tt0137523            8.8   2021525
81412    tt0109830            8.8   1981606
...            ...            ...       ...
1154310  tt7813152            1.0         5
1163644  tt8027962            1.0         5
1185034  tt8581078            1.0         5
1196843  tt8914192            1.0         5
1197669  tt8941352            1.0         5

[1230952 rows x 3 columns]

In [57]:
titleRatingsSrtd['POP SCORE'] = titleRatingsSrtd['averageRating'] * titleRatingsSrtd['numVotes']

In [58]:
titleRatingsSrtd

            tconst  averageRating  numVotes   POP SCORE
82505    tt0111161            9.3   2569002  23891718.6
251029   tt0468569            9.1   2534021  23059591.1
629117   tt1375666            8.8   2254701  19841368.8
99118    tt0137523            8.8   2021525  17789420.0
81412    tt0109830            8.8   1981606  17438132.8
...            ...            ...       ...         ...
1154310  tt7813152            1.0         5         5.0
1163644  tt8027962            1.0         5         5.0
1185034  tt8581078            1.0         5         5.0
1196843  tt8914192            1.0         5         5.0
1197669  tt8941352            1.0         5         5.0

[1230952 rows x 4 columns]

In [61]:
titlesBasicsRatings = titlesMOVIESshortsvids.merge(titleRatingsSrtd, how= 'left', on= 'tconst')

In [62]:
titleSRTDpop = titlesBasicsRatings.sort_values( by=['POP SCORE'], ascending= False )

In [63]:
titleSRTDpop.head(60)

,tconst,titleType,primaryTitle,genres,averageRating,numVotes,POP SCORE
178228,tt0111161,movie,The Shawshank Redemption,Drama,9.3,2569002.0,23891718.6
628982,tt0468569,movie,The Dark Knight,Action,9.1,2534021.0,23059591.1
628983,tt0468569,movie,The Dark Knight,Crime,9.1,2534021.0,23059591.1
628984,tt0468569,movie,The Dark Knight,Drama,9.1,2534021.0,23059591.1
1230027,tt1375666,movie,Inception,Sci-Fi,8.8,2254701.0,19841368.8
1230025,tt1375666,movie,Inception,Action,8.8,2254701.0,19841368.8
1230026,tt1375666,movie,Inception,Adventure,8.8,2254701.0,19841368.8
213498,tt0137523,movie,Fight Club,Drama,8.8,2021525.0,17789420.0
177822,tt0110912,movie,Pulp Fiction,Crime,8.9,1972078.0,17551494.2
177823,tt0110912,movie,Pulp Fiction,Drama,8.9,1972078.0,17551494.2
176087,tt0109830,movie,Forrest Gump,Romance,8.8,1981606.0,17438132.8
176086,tt0109830,movie,Forrest Gump,Drama,8.8,1981606.0,17438132.8
115746,tt0068646,movie,The Godfather,Drama,9.2,1768712.0,16272150.4
115745,tt0068646,movie,The Godfather,Crime,9.2,1768712.0,16272150.4
207726,tt0133093,movie,The Matrix,Action,8.7,1849023.0,16086500.1
207727,tt0133093,movie,The Matrix,Sci-Fi,8.7,1849023.0,16086500.1
192125,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,Adventure,8.9,1789125.0,15923212.5
192126,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,Drama,8.9,1789125.0,15923212.5
192124,tt0120737,movie,The Lord of the Rings: The Fellowship of the Ring,Action,8.9,1789125.0,15923212.5
254844,tt0167260,movie,The Lord of the Rings: The Return of the King,Action,9.0,1767391.0,15906519.0
254845,tt0167260,movie,The Lord of the Rings: The Return of the King,Adventure,9.0,1767391.0,15906519.0
254846,tt0167260,movie,The Lord of the Rings: The Return of the King,Drama,9.0,1767391.0,15906519.0
688949,tt0816692,movie,Interstellar,Drama,8.7,1712990.0,14903013.0
688948,tt0816692,movie,Interstellar,Adventure,8.7,1712990.0,14903013.0
688950,tt0816692,movie,Interstellar,Sci-Fi,8.7,1712990.0,14903013.0
254847,tt0167261,movie,The Lord of the Rings: The Two Towers,Action,8.8,1596717.0,14051109.6
254849,tt0167261,movie,The Lord of the Rings: The Two Towers,Drama,8.8,1596717.0,14051109.6
254848,tt0167261,movie,The Lord of the Rings: The Two Towers,Adventure,8.8,1596717.0,14051109.6
1187895,tt1345836,movie,The Dark Knight Rises,Crime,8.4,1640491.0,13780124.4
1187896,tt1345836,movie,The Dark Knight Rises,Drama,8.4,1640491.0,13780124.4
1187894,tt1345836,movie,The Dark Knight Rises,Action,8.4,1640491.0,13780124.4
182817,tt0114369,movie,Se7en,Crime,8.6,1575360.0,13548096.0
182819,tt0114369,movie,Se7en,Mystery,8.6,1575360.0,13548096.0
182818,tt0114369,movie,Se7en,Drama,8.6,1575360.0,13548096.0
1730222,tt1853728,movie,Django Unchained,Western,8.5,1484557.0,12618734.5
1730221,tt1853728,movie,Django Unchained,Drama,8.5,1484557.0,12618734.5
260588,tt0172495,movie,Gladiator,Action,8.5,1445608.0,12287668.0
260590,tt0172495,movie,Gladiator,Drama,8.5,1445608.0,12287668.0
260589,tt0172495,movie,Gladiator,Adventure,8.5,1445608.0,12287668.0
166456,tt0102926,movie,The Silence of the Lambs,Crime,8.6,1377426.0,11845863.6
166457,tt0102926,movie,The Silence of the Lambs,Drama,8.6,1377426.0,11845863.6
166458,tt0102926,movie,The Silence of the Lambs,Thriller,8.6,1377426.0,11845863.6
173696,tt0108052,movie,Schindler's List,History,9.0,1308967.0,11780703.0
173694,tt0108052,movie,Schindler's List,Biography,9.0,1308967.0,11780703.0
173695,tt0108052,movie,Schindler's List,Drama,9.0,1308967.0,11780703.0
513194,tt0372784,movie,Batman Begins,Action,8.3,1416076.0,11753430.8
513196,tt0372784,movie,Batman Begins,Drama,8.3,1416076.0,11753430.8
513195,tt0372784,movie,Batman Begins,Crime,8.3,1416076.0,11753430.8
192275,tt0120815,movie,Saving Private Ryan,War,8.6,1338294.0,11509328.4
192274,tt0120815,movie,Saving Private Ryan,Drama,8.6,1338294.0,11509328.4
497699,tt0361748,movie,Inglourious Basterds,Drama,8.3,1384899.0,11494661.7
497698,tt0361748,movie,Inglourious Basterds,Adventure,8.3,1384899.0,11494661.7
497700,tt0361748,movie,Inglourious Basterds,War,8.3,1384899.0,11494661.7
127830,tt0076759,movie,Star Wars,Adventure,8.6,1314458.0,11304338.8
127831,tt0076759,movie,Star Wars,Fantasy,8.6,1314458.0,11304338.8
127829,tt0076759,movie,Star Wars,Action,8.6,1314458.0,11304338.8
120085,tt0071562,movie,The Godfather: Part II,Crime,9.0,1223575.0,11012175.0
120086,tt0071562,movie,The Godfather: Part II,Drama,9.0,1223575.0,11012175.0
646436,tt0482571,movie,The Prestige,Drama,8.5,1286709.0,10937026.5
646437,tt0482571,movie,The Prestige,Mystery,8.5,1286709.0,10937026.5

In [18]:
titleSRTDavrate = titlesBasicsRatings.sort_values( by=['averageRating'], ascending= False )
titleSRTDavrate.head(50)

,tconst,primaryTitle,genres,averageRating,numVotes,POP SCORE
3968548,tt12740466,Feast,Comedy,10.0,30.0,300.0
11715430,tt6826364,Khatri Plans to Reveal Ishwari's Secret,Drama,10.0,5.0,50.0
11715428,tt6826362,Sona finds out Ishwari's new house,Drama,10.0,5.0,50.0
11715427,tt6826360,Sona finds out Ishwari's secret,Romance,10.0,5.0,50.0
11715426,tt6826360,Sona finds out Ishwari's secret,Drama,10.0,5.0,50.0
11715425,tt6826358,Sona meets Khatri,Romance,10.0,5.0,50.0
11715424,tt6826358,Sona meets Khatri,Drama,10.0,5.0,50.0
11715402,tt6826316,Sona plans to find about Ishwari's past,Romance,10.0,5.0,50.0
11715401,tt6826316,Sona plans to find about Ishwari's past,Drama,10.0,5.0,50.0
11715391,tt6826296,Dev accuses Sona of being a bad mother,Romance,10.0,6.0,60.0
11715390,tt6826296,Dev accuses Sona of being a bad mother,Drama,10.0,6.0,60.0
11715385,tt6826290,DevAkshi and Suhana at Ishwari Nivas,Romance,10.0,5.0,50.0
11715384,tt6826290,DevAkshi and Suhana at Ishwari Nivas,Drama,10.0,5.0,50.0
5299231,tt14303266,Havada,Drama,10.0,89.0,890.0
5299232,tt14303266,Havada,Mystery,10.0,89.0,890.0
2756168,tt1129461,Okay,Music,10.0,53.0,530.0
2756167,tt1129461,Okay,Biography,10.0,53.0,530.0
4896467,tt1381815,Love Sophie,Short,10.0,6.0,60.0
11715376,tt6826280,Asha Locks Dev and Bijoy in a Room,Romance,10.0,5.0,50.0
11715375,tt6826280,Asha Locks Dev and Bijoy in a Room,Drama,10.0,5.0,50.0
11715374,tt6826278,Dev Is Jealous to See Jatin with His Daughter,Romance,10.0,5.0,50.0
11715373,tt6826278,Dev Is Jealous to See Jatin with His Daughter,Drama,10.0,5.0,50.0
11715372,tt6826276,Asha asks Dev and Sona to sort out their diffe...,Romance,10.0,5.0,50.0
11715371,tt6826276,Asha asks Dev and Sona to sort out their diffe...,Drama,10.0,5.0,50.0
11715368,tt6826272,Bijoy Blames Dev for Stealing Ronita's Jewellwery,Romance,10.0,5.0,50.0
11715367,tt6826272,Bijoy Blames Dev for Stealing Ronita's Jewellwery,Drama,10.0,5.0,50.0
11715363,tt6826268,Ronita Confesses Her Feelings to Saurabh,Romance,10.0,5.0,50.0
11715429,tt6826362,Sona finds out Ishwari's new house,Romance,10.0,5.0,50.0
11715431,tt6826364,Khatri Plans to Reveal Ishwari's Secret,Romance,10.0,5.0,50.0
11715361,tt6826266,Bijoy forces Dev to wear a Dhoti,Romance,10.0,5.0,50.0
11715438,tt6826374,Police Arrest Khatri,Drama,10.0,5.0,50.0
5296726,tt14300190,Episode #1.141,Drama,10.0,6.0,60.0
5296727,tt14300190,Episode #1.141,Music,10.0,6.0,60.0
6470819,tt15752272,Eric Martsolf talks with BJ Korros about Starr...,Talk-Show,10.0,14.0,140.0
11717259,tt6829128,Laura Ellen Wilson Taking the Thriller Genre t...,Talk-Show,10.0,29.0,290.0
2761403,tt11300762,In Thin Air,Short,10.0,26.0,260.0
2761402,tt11300762,In Thin Air,Fantasy,10.0,26.0,260.0
6470516,tt15751908,Leave when you want to stay,Documentary,10.0,6.0,60.0
6469463,tt15750468,Loveline,Short,10.0,7.0,70.0
6469462,tt15750468,Loveline,Drama,10.0,7.0,70.0
6469353,tt15750352,Now I Am Alone,Short,10.0,6.0,60.0
6979992,tt16606780,Mural of the Story,Documentary,10.0,11.0,110.0
6979993,tt16606780,Mural of the Story,Short,10.0,11.0,110.0
193323,tt0111263,Spiral Tribe,Short,10.0,7.0,70.0
506548,tt0324200,Tenkisti iz Nustra,Short,10.0,12.0,120.0
7473066,tt18212948,Aftermath,Thriller,10.0,7.0,70.0
6984689,tt16611502,Hævnen,Drama,10.0,7.0,70.0
6984690,tt16611502,Hævnen,Short,10.0,7.0,70.0
6984691,tt16611502,Hævnen,Thriller,10.0,7.0,70.0
11463727,tt6475158,Earlina Gilford Weaver: A True Inspiration!,Talk-Show,10.0,28.0,280.0

In [68]:
titleSRTDpop.value_counts(['genres']).head(5)

genres
Short          916010
Drama          526563
Documentary    327226
Comedy         324403
Adult          101785
dtype: int64

In [70]:
top5 = titleSRTDpop.head(14)

In [71]:
top5.value_counts(['genres'])

genres
Drama        6
Crime        3
Action       2
Adventure    1
Romance      1
Sci-Fi       1
dtype: int64

In [76]:
top5byscore = top5[['genres', 'POP SCORE']].sort_values(by= 'POP SCORE')

In [77]:
groupedtop5 = top5byscore.groupby(by="genres").sum()

In [81]:
#GENRES BY POPULARITY AMONG TOP5 POPULAR MOVIES

groupedtop5.sort_values(by= 'POP SCORE', ascending = False)

             POP SCORE
genres
Drama      116002507.1
Crime       56883235.7
Action      42900959.9
Adventure   19841368.8
Sci-Fi      19841368.8
Romance     17438132.8