In [1]:
import pandas as pd
import numpy as np

In [2]:


namebasics = pd.read_csv('name.basics.tsv.gz',usecols=['primaryProfession', 'nconst', 'primaryName'], sep = '\t')

In [3]:
namebasics

             nconst         primaryName                    primaryProfession
0         nm0000001        Fred Astaire       soundtrack,actor,miscellaneous
1         nm0000002       Lauren Bacall                   actress,soundtrack
2         nm0000003     Brigitte Bardot  actress,soundtrack,music_department
3         nm0000004        John Belushi              actor,soundtrack,writer
4         nm0000005      Ingmar Bergman                writer,director,actor
...             ...                 ...                                  ...
11531344  nm9993714   Romeo del Rosario  animation_department,art_department
11531345  nm9993716       Essias Loberg                                  NaN
11531346  nm9993717  Harikrishnan Rajan                      cinematographer
11531347  nm9993718         Aayush Nair                      cinematographer
11531348  nm9993719          Andre Hill                                  NaN

[11531349 rows x 3 columns]

In [4]:
#namebasics = namebasics.astype({"primaryProfession": str})

namebasics.dtypes

nconst               object
primaryName          object
primaryProfession    object
dtype: object

In [5]:

namebasics["primaryProfession"] = namebasics["primaryProfession"].str.split(",")

In [6]:
namebasics.explode('primaryProfession')

             nconst         primaryName primaryProfession
0         nm0000001        Fred Astaire        soundtrack
0         nm0000001        Fred Astaire             actor
0         nm0000001        Fred Astaire     miscellaneous
1         nm0000002       Lauren Bacall           actress
1         nm0000002       Lauren Bacall        soundtrack
...             ...                 ...               ...
11531344  nm9993714   Romeo del Rosario    art_department
11531345  nm9993716       Essias Loberg               NaN
11531346  nm9993717  Harikrishnan Rajan   cinematographer
11531347  nm9993718         Aayush Nair   cinematographer
11531348  nm9993719          Andre Hill               NaN

[14981996 rows x 3 columns]

In [7]:


titleprincipals = pd.read_csv('title.principals.tsv.gz',usecols=['category', 'nconst', 'tconst'], sep = '\t')

In [8]:
titleprincipals

             tconst      nconst         category
0         tt0000001   nm1588970             self
1         tt0000001   nm0005690         director
2         tt0000001   nm0374658  cinematographer
3         tt0000002   nm0721526         director
4         tt0000002   nm1335271         composer
...             ...         ...              ...
49736919  tt9916880  nm10535738          actress
49736920  tt9916880   nm0996406         director
49736921  tt9916880   nm1482639           writer
49736922  tt9916880   nm2586970           writer
49736923  tt9916880   nm1594058         producer

[49736924 rows x 3 columns]

In [9]:


titlesbasics = pd.read_csv('title.basics.tsv.gz',usecols=['primaryTitle', 'genres', 'tconst'], sep = '\t')

In [10]:
titlesbasics

            tconst               primaryTitle                      genres
0        tt0000001                 Carmencita           Documentary,Short
1        tt0000002     Le clown et ses chiens             Animation,Short
2        tt0000003             Pauvre Pierrot    Animation,Comedy,Romance
3        tt0000004                Un bon bock             Animation,Short
4        tt0000005           Blacksmith Scene                Comedy,Short
...            ...                        ...                         ...
8824336  tt9916848              Episode #3.17         Action,Drama,Family
8824337  tt9916850              Episode #3.19         Action,Drama,Family
8824338  tt9916852              Episode #3.20         Action,Drama,Family
8824339  tt9916856                   The Wind                       Short
8824340  tt9916880  Horrid Henry Knows It All  Adventure,Animation,Comedy

[8824341 rows x 3 columns]

In [11]:
titlesbasics["genres"] = titlesbasics["genres"].str.split(",")

titlesbasics = titlesbasics.explode("genres")
titlesbasics

            tconst               primaryTitle       genres
0        tt0000001                 Carmencita  Documentary
0        tt0000001                 Carmencita        Short
1        tt0000002     Le clown et ses chiens    Animation
1        tt0000002     Le clown et ses chiens        Short
2        tt0000003             Pauvre Pierrot    Animation
...            ...                        ...          ...
8824338  tt9916852              Episode #3.20       Family
8824339  tt9916856                   The Wind        Short
8824340  tt9916880  Horrid Henry Knows It All    Adventure
8824340  tt9916880  Horrid Henry Knows It All    Animation
8824340  tt9916880  Horrid Henry Knows It All       Comedy

[14017527 rows x 3 columns]

In [12]:
titleRatings = pd.read_csv('title.ratings.tsv.gz', sep = '\t')
titleRatingsSrtd = titleRatings.sort_values( by=['numVotes', 'averageRating'], ascending= False )
titleRatingsSrtd

            tconst  averageRating  numVotes
82505    tt0111161            9.3   2569002
251029   tt0468569            9.1   2534021
629117   tt1375666            8.8   2254701
99118    tt0137523            8.8   2021525
81412    tt0109830            8.8   1981606
...            ...            ...       ...
1154310  tt7813152            1.0         5
1163644  tt8027962            1.0         5
1185034  tt8581078            1.0         5
1196843  tt8914192            1.0         5
1197669  tt8941352            1.0         5

[1230952 rows x 3 columns]

In [13]:
titleRatingsSrtd['POP SCORE'] = titleRatingsSrtd['averageRating'] * titleRatingsSrtd['numVotes']

In [14]:
titleRatingsSrtd

            tconst  averageRating  numVotes   POP SCORE
82505    tt0111161            9.3   2569002  23891718.6
251029   tt0468569            9.1   2534021  23059591.1
629117   tt1375666            8.8   2254701  19841368.8
99118    tt0137523            8.8   2021525  17789420.0
81412    tt0109830            8.8   1981606  17438132.8
...            ...            ...       ...         ...
1154310  tt7813152            1.0         5         5.0
1163644  tt8027962            1.0         5         5.0
1185034  tt8581078            1.0         5         5.0
1196843  tt8914192            1.0         5         5.0
1197669  tt8941352            1.0         5         5.0

[1230952 rows x 4 columns]

In [15]:
titlesBasicsRatings = titlesbasics.merge(titleRatingsSrtd, how= 'left', on= 'tconst')

In [16]:
titleSRTDpop = titlesBasicsRatings.sort_values( by=['POP SCORE'], ascending= False )

In [17]:
titleSRTDpop.head(60)

,tconst,primaryTitle,genres,averageRating,numVotes,POP SCORE
193158,tt0111161,The Shawshank Redemption,Drama,9.3,2569002.0,23891718.6
726744,tt0468569,The Dark Knight,Action,9.1,2534021.0,23059591.1
726745,tt0468569,The Dark Knight,Crime,9.1,2534021.0,23059591.1
726746,tt0468569,The Dark Knight,Drama,9.1,2534021.0,23059591.1
4841755,tt1375666,Inception,Action,8.8,2254701.0,19841368.8
4841757,tt1375666,Inception,Sci-Fi,8.8,2254701.0,19841368.8
4841756,tt1375666,Inception,Adventure,8.8,2254701.0,19841368.8
1568475,tt0944947,Game of Thrones,Action,9.3,1970342.0,18324180.6
1568476,tt0944947,Game of Thrones,Adventure,9.3,1970342.0,18324180.6
1568477,tt0944947,Game of Thrones,Drama,9.3,1970342.0,18324180.6
233004,tt0137523,Fight Club,Drama,8.8,2021525.0,17789420.0
192731,tt0110912,Pulp Fiction,Crime,8.9,1972078.0,17551494.2
192732,tt0110912,Pulp Fiction,Drama,8.9,1972078.0,17551494.2
190884,tt0109830,Forrest Gump,Drama,8.8,1981606.0,17438132.8
190885,tt0109830,Forrest Gump,Romance,8.8,1981606.0,17438132.8
120585,tt0068646,The Godfather,Crime,9.2,1768712.0,16272150.4
120586,tt0068646,The Godfather,Drama,9.2,1768712.0,16272150.4
1495147,tt0903747,Breaking Bad,Drama,9.5,1699728.0,16147416.0
1495148,tt0903747,Breaking Bad,Thriller,9.5,1699728.0,16147416.0
1495146,tt0903747,Breaking Bad,Crime,9.5,1699728.0,16147416.0
226776,tt0133093,The Matrix,Sci-Fi,8.7,1849023.0,16086500.1
226775,tt0133093,The Matrix,Action,8.7,1849023.0,16086500.1
209490,tt0120737,The Lord of the Rings: The Fellowship of the Ring,Adventure,8.9,1789125.0,15923212.5
209491,tt0120737,The Lord of the Rings: The Fellowship of the Ring,Drama,8.9,1789125.0,15923212.5
209489,tt0120737,The Lord of the Rings: The Fellowship of the Ring,Action,8.9,1789125.0,15923212.5
278356,tt0167260,The Lord of the Rings: The Return of the King,Action,9.0,1767391.0,15906519.0
278357,tt0167260,The Lord of the Rings: The Return of the King,Adventure,9.0,1767391.0,15906519.0
278358,tt0167260,The Lord of the Rings: The Return of the King,Drama,9.0,1767391.0,15906519.0
1346926,tt0816692,Interstellar,Sci-Fi,8.7,1712990.0,14903013.0
1346924,tt0816692,Interstellar,Adventure,8.7,1712990.0,14903013.0
1346925,tt0816692,Interstellar,Drama,8.7,1712990.0,14903013.0
278361,tt0167261,The Lord of the Rings: The Two Towers,Drama,8.8,1596717.0,14051109.6
278359,tt0167261,The Lord of the Rings: The Two Towers,Action,8.8,1596717.0,14051109.6
278360,tt0167261,The Lord of the Rings: The Two Towers,Adventure,8.8,1596717.0,14051109.6
4578668,tt1345836,The Dark Knight Rises,Action,8.4,1640491.0,13780124.4
4578670,tt1345836,The Dark Knight Rises,Drama,8.4,1640491.0,13780124.4
4578669,tt1345836,The Dark Knight Rises,Crime,8.4,1640491.0,13780124.4
198546,tt0114369,Se7en,Drama,8.6,1575360.0,13548096.0
198545,tt0114369,Se7en,Crime,8.6,1575360.0,13548096.0
198547,tt0114369,Se7en,Mystery,8.6,1575360.0,13548096.0
7629692,tt1853728,Django Unchained,Drama,8.5,1484557.0,12618734.5
7629693,tt1853728,Django Unchained,Western,8.5,1484557.0,12618734.5
285858,tt0172495,Gladiator,Action,8.5,1445608.0,12287668.0
285859,tt0172495,Gladiator,Adventure,8.5,1445608.0,12287668.0
285860,tt0172495,Gladiator,Drama,8.5,1445608.0,12287668.0
179304,tt0102926,The Silence of the Lambs,Crime,8.6,1377426.0,11845863.6
179306,tt0102926,The Silence of the Lambs,Thriller,8.6,1377426.0,11845863.6
179305,tt0102926,The Silence of the Lambs,Drama,8.6,1377426.0,11845863.6
187840,tt0108052,Schindler's List,History,9.0,1308967.0,11780703.0
187838,tt0108052,Schindler's List,Biography,9.0,1308967.0,11780703.0
187839,tt0108052,Schindler's List,Drama,9.0,1308967.0,11780703.0
583525,tt0372784,Batman Begins,Drama,8.3,1416076.0,11753430.8
583523,tt0372784,Batman Begins,Action,8.3,1416076.0,11753430.8
583524,tt0372784,Batman Begins,Crime,8.3,1416076.0,11753430.8
209642,tt0120815,Saving Private Ryan,Drama,8.6,1338294.0,11509328.4
209643,tt0120815,Saving Private Ryan,War,8.6,1338294.0,11509328.4
564728,tt0361748,Inglourious Basterds,Drama,8.3,1384899.0,11494661.7
564727,tt0361748,Inglourious Basterds,Adventure,8.3,1384899.0,11494661.7
564729,tt0361748,Inglourious Basterds,War,8.3,1384899.0,11494661.7
134469,tt0076759,Star Wars,Adventure,8.6,1314458.0,11304338.8

In [18]:
titleSRTDavrate = titlesBasicsRatings.sort_values( by=['averageRating'], ascending= False )
titleSRTDavrate.head(50)

,tconst,primaryTitle,genres,averageRating,numVotes,POP SCORE
3968548,tt12740466,Feast,Comedy,10.0,30.0,300.0
11715430,tt6826364,Khatri Plans to Reveal Ishwari's Secret,Drama,10.0,5.0,50.0
11715428,tt6826362,Sona finds out Ishwari's new house,Drama,10.0,5.0,50.0
11715427,tt6826360,Sona finds out Ishwari's secret,Romance,10.0,5.0,50.0
11715426,tt6826360,Sona finds out Ishwari's secret,Drama,10.0,5.0,50.0
11715425,tt6826358,Sona meets Khatri,Romance,10.0,5.0,50.0
11715424,tt6826358,Sona meets Khatri,Drama,10.0,5.0,50.0
11715402,tt6826316,Sona plans to find about Ishwari's past,Romance,10.0,5.0,50.0
11715401,tt6826316,Sona plans to find about Ishwari's past,Drama,10.0,5.0,50.0
11715391,tt6826296,Dev accuses Sona of being a bad mother,Romance,10.0,6.0,60.0
11715390,tt6826296,Dev accuses Sona of being a bad mother,Drama,10.0,6.0,60.0
11715385,tt6826290,DevAkshi and Suhana at Ishwari Nivas,Romance,10.0,5.0,50.0
11715384,tt6826290,DevAkshi and Suhana at Ishwari Nivas,Drama,10.0,5.0,50.0
5299231,tt14303266,Havada,Drama,10.0,89.0,890.0
5299232,tt14303266,Havada,Mystery,10.0,89.0,890.0
2756168,tt1129461,Okay,Music,10.0,53.0,530.0
2756167,tt1129461,Okay,Biography,10.0,53.0,530.0
4896467,tt1381815,Love Sophie,Short,10.0,6.0,60.0
11715376,tt6826280,Asha Locks Dev and Bijoy in a Room,Romance,10.0,5.0,50.0
11715375,tt6826280,Asha Locks Dev and Bijoy in a Room,Drama,10.0,5.0,50.0
11715374,tt6826278,Dev Is Jealous to See Jatin with His Daughter,Romance,10.0,5.0,50.0
11715373,tt6826278,Dev Is Jealous to See Jatin with His Daughter,Drama,10.0,5.0,50.0
11715372,tt6826276,Asha asks Dev and Sona to sort out their diffe...,Romance,10.0,5.0,50.0
11715371,tt6826276,Asha asks Dev and Sona to sort out their diffe...,Drama,10.0,5.0,50.0
11715368,tt6826272,Bijoy Blames Dev for Stealing Ronita's Jewellwery,Romance,10.0,5.0,50.0
11715367,tt6826272,Bijoy Blames Dev for Stealing Ronita's Jewellwery,Drama,10.0,5.0,50.0
11715363,tt6826268,Ronita Confesses Her Feelings to Saurabh,Romance,10.0,5.0,50.0
11715429,tt6826362,Sona finds out Ishwari's new house,Romance,10.0,5.0,50.0
11715431,tt6826364,Khatri Plans to Reveal Ishwari's Secret,Romance,10.0,5.0,50.0
11715361,tt6826266,Bijoy forces Dev to wear a Dhoti,Romance,10.0,5.0,50.0
11715438,tt6826374,Police Arrest Khatri,Drama,10.0,5.0,50.0
5296726,tt14300190,Episode #1.141,Drama,10.0,6.0,60.0
5296727,tt14300190,Episode #1.141,Music,10.0,6.0,60.0
6470819,tt15752272,Eric Martsolf talks with BJ Korros about Starr...,Talk-Show,10.0,14.0,140.0
11717259,tt6829128,Laura Ellen Wilson Taking the Thriller Genre t...,Talk-Show,10.0,29.0,290.0
2761403,tt11300762,In Thin Air,Short,10.0,26.0,260.0
2761402,tt11300762,In Thin Air,Fantasy,10.0,26.0,260.0
6470516,tt15751908,Leave when you want to stay,Documentary,10.0,6.0,60.0
6469463,tt15750468,Loveline,Short,10.0,7.0,70.0
6469462,tt15750468,Loveline,Drama,10.0,7.0,70.0
6469353,tt15750352,Now I Am Alone,Short,10.0,6.0,60.0
6979992,tt16606780,Mural of the Story,Documentary,10.0,11.0,110.0
6979993,tt16606780,Mural of the Story,Short,10.0,11.0,110.0
193323,tt0111263,Spiral Tribe,Short,10.0,7.0,70.0
506548,tt0324200,Tenkisti iz Nustra,Short,10.0,12.0,120.0
7473066,tt18212948,Aftermath,Thriller,10.0,7.0,70.0
6984689,tt16611502,Hævnen,Drama,10.0,7.0,70.0
6984690,tt16611502,Hævnen,Short,10.0,7.0,70.0
6984691,tt16611502,Hævnen,Thriller,10.0,7.0,70.0
11463727,tt6475158,Earlina Gilford Weaver: A True Inspiration!,Talk-Show,10.0,28.0,280.0